@font-face {
    font-family: 'Bison';
    src: url('../fonts/bison/Bison-Bold.woff2') format('woff2'),
        url('../fonts/bison/Bison-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'campuniblack';
    src: url('../fonts/campuni_black-webfont.woff2') format('woff2'),
         url('../fonts/campuni_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'campunibold';
    src: url('../fonts/campuni_bold-webfont.woff2') format('woff2'),
         url('../fonts/campuni_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'campunibook';
    src: url('../fonts/campuni_book-webfont.woff2') format('woff2'),
         url('../fonts/campuni_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'campuniextra_light';
    src: url('../fonts/campuni_extra_light-webfont.woff2') format('woff2'),
         url('../fonts/campuni_extra_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'campunilight';
    src: url('../fonts/campuni_light-webfont.woff2') format('woff2'),
         url('../fonts/campuni_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'campunimedium';
    src: url('../fonts/campuni_medium-webfont.woff2') format('woff2'),
         url('../fonts/campuni_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'campuniregular';
    src: url('../fonts/campuni_regular-webfont.woff2') format('woff2'),
         url('../fonts/campuni_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'campunithin';
    src: url('../fonts/campuni_thin-webfont.woff2') format('woff2'),
         url('../fonts/campuni_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}