/* Lista de semanas */
.schedule-weeks-wrapper {
  margin-top: 18px; }
  .schedule-weeks-wrapper .desc-interval {
    display: block;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #252b34;
    font-style: normal;
    border-bottom: 1px solid rgba(173, 173, 173, 0.4); }
  .schedule-weeks-wrapper .list-results {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none; }
    .schedule-weeks-wrapper .list-results li {
      display: block;
      padding: 18px 0 15px;
      margin-bottom: 0 !important;
      background: #f1f1f1;
      border-top: 1px solid rgba(173, 173, 173, 0.4);
      border-bottom: 1px solid rgba(173, 173, 173, 0.4); }
      .schedule-weeks-wrapper .list-results li div {
        display: inline-block;
        vertical-align: top;
        width: 50%; }
        .schedule-weeks-wrapper .list-results li div:nth-child(odd) {
          padding-left: 20px; }
    .schedule-weeks-wrapper .list-results strong, .schedule-weeks-wrapper .list-results em {
      display: block;
      font-size: 14px;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: 1px;
      color: #74859e; }
    .schedule-weeks-wrapper .list-results strong {
      margin-bottom: 2px; }
    .schedule-weeks-wrapper .list-results p {
      margin: 8px 0 0;
      font-size: 16px;
      color: #37414e; }
  .schedule-weeks-wrapper .calendar {
    width: 396px;
    position: relative; }
    .schedule-weeks-wrapper .calendar .slick-next,
    .schedule-weeks-wrapper .calendar .slick-prev {
      width: 20px;
      background: none;
      padding: 0; }
      .schedule-weeks-wrapper .calendar .slick-next:before, .schedule-weeks-wrapper .calendar .slick-next:after,
      .schedule-weeks-wrapper .calendar .slick-prev:before,
      .schedule-weeks-wrapper .calendar .slick-prev:after {
        height: 11px;
        width: 3px;
        background-color: #f8d117; }
      .schedule-weeks-wrapper .calendar .slick-next:after,
      .schedule-weeks-wrapper .calendar .slick-prev:after {
        margin-top: -16px; }
      .schedule-weeks-wrapper .calendar .slick-next.slick-disabled:before, .schedule-weeks-wrapper .calendar .slick-next.slick-disabled:after,
      .schedule-weeks-wrapper .calendar .slick-prev.slick-disabled:before,
      .schedule-weeks-wrapper .calendar .slick-prev.slick-disabled:after {
        background-color: #74859e;
        opacity: 0.5; }
    .schedule-weeks-wrapper .calendar .slick-prev {
      background: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
      .schedule-weeks-wrapper .calendar .slick-prev:before, .schedule-weeks-wrapper .calendar .slick-prev:after {
        left: 4px; }
    .schedule-weeks-wrapper .calendar .slick-next {
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
      .schedule-weeks-wrapper .calendar .slick-next:before, .schedule-weeks-wrapper .calendar .slick-next:after {
        margin-left: 3px; }
    .schedule-weeks-wrapper .calendar .semana {
      display: block; }
      .schedule-weeks-wrapper .calendar .semana ul {
        list-style: none;
        padding: 20px 14px 22px;
        margin: 0; }
        .schedule-weeks-wrapper .calendar .semana ul li {
          float: left;
          width: 36px;
          margin: 0 8px; }
          .schedule-weeks-wrapper .calendar .semana ul li a {
            cursor: pointer; }
            .schedule-weeks-wrapper .calendar .semana ul li a strong {
              display: block;
              text-align: center; }
            .schedule-weeks-wrapper .calendar .semana ul li a em {
              display: block;
              margin: 0 auto;
              text-align: center;
              font-size: 14px;
              transition: all 300ms; }
            .schedule-weeks-wrapper .calendar .semana ul li a.active {
              cursor: not-allowed; }
            .schedule-weeks-wrapper .calendar .semana ul li a.disabled {
              cursor: default; }
    .schedule-weeks-wrapper .calendar.small .semana ul li a strong {
      background-color: #777d84;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      line-height: 36px;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: -0.25px;
      font-weight: bold;
      color: #fff; }
    .schedule-weeks-wrapper .calendar.small .semana ul li a em {
      margin-top: 7px;
      font-size: 14px;
      font-style: normal;
      letter-spacing: -0.44px;
      text-align: center;
      color: #74859e; }
    .schedule-weeks-wrapper .calendar.small .semana ul li a.disabled strong {
      opacity: 0.5;
      border: solid 1px #777d84;
      color: #777d84;
      background: transparent; }
    .schedule-weeks-wrapper .calendar.small .semana ul li a.disabled em {
      opacity: 0.5; }
    .schedule-weeks-wrapper .calendar.small .semana ul li a.active strong {
      border: solid 2px #37414e;
      background-color: #f8d117;
      color: #37414e;
      line-height: 34px; }
    .schedule-weeks-wrapper .calendar.complete {
      /* Floater de semanas */ }
      .schedule-weeks-wrapper .calendar.complete .semana {
        background: #455060; }
        .schedule-weeks-wrapper .calendar.complete .semana header {
          display: block;
          padding: 18px 22px;
          border-bottom: #8a9fbe 1px solid; }
          .schedule-weeks-wrapper .calendar.complete .semana header .desc-month {
            float: left;
            font-size: 160%;
            font-weight: bold;
            color: #ffffff;
            line-height: 12px; }
          .schedule-weeks-wrapper .calendar.complete .semana header .toright {
            float: right; }
          .schedule-weeks-wrapper .calendar.complete .semana header .desc-days {
            display: none; }
          .schedule-weeks-wrapper .calendar.complete .semana header .desc-week {
            position: relative;
            display: block;
            padding-right: 22px;
            line-height: 12px;
            height: 12px;
            overflow: hidden;
            color: #54aedd;
            font-size: 140%;
            cursor: pointer; }
            .schedule-weeks-wrapper .calendar.complete .semana header .desc-week:after, .schedule-weeks-wrapper .calendar.complete .semana header .desc-week:before {
              content: '';
              display: block;
              width: 8px;
              height: 2px;
              background-color: #54aedd;
              position: absolute;
              top: 6px; }
            .schedule-weeks-wrapper .calendar.complete .semana header .desc-week:after {
              right: 0;
              transform: rotate(135deg); }
            .schedule-weeks-wrapper .calendar.complete .semana header .desc-week:before {
              right: 5px;
              transform: rotate(45deg); }
        .schedule-weeks-wrapper .calendar.complete .semana ul li span {
          color: #8a9fbe;
          margin-bottom: 12px;
          font-size: 16px;
          line-height: 12px; }
        .schedule-weeks-wrapper .calendar.complete .semana ul li a {
          background-color: #37414e;
          color: #ffffff;
          transition: all 300ms;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          line-height: 36px; }
          .schedule-weeks-wrapper .calendar.complete .semana ul li a.active {
            color: #455060;
            background-color: #f5db12;
            font-weight: bold; }
          .schedule-weeks-wrapper .calendar.complete .semana ul li a.disabled {
            background-color: #3e4958;
            color: #7d838c;
            cursor: default; }
      .schedule-weeks-wrapper .calendar.complete .floater-semanas {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        max-height: 423px;
        overflow-y: scroll;
        overflow-x: hidden;
        background: #455060;
        z-index: 1000; }
        .schedule-weeks-wrapper .calendar.complete .floater-semanas a {
          display: block;
          padding: 16px 23px;
          line-height: 14px;
          border-top: #8a9fbe 1px solid;
          color: #8a9fbe;
          cursor: pointer;
          transition: all 300ms; }
          .schedule-weeks-wrapper .calendar.complete .floater-semanas a:hover {
            background-color: #3e4856;
            color: #ffffff; }
          .schedule-weeks-wrapper .calendar.complete .floater-semanas a .label {
            position: relative;
            float: left;
            height: 14px;
            padding-right: 19px;
            font-size: 160%; }
          .schedule-weeks-wrapper .calendar.complete .floater-semanas a .dates {
            float: right;
            font-size: 140%; }
          .schedule-weeks-wrapper .calendar.complete .floater-semanas a:first-child {
            border: none; }
          .schedule-weeks-wrapper .calendar.complete .floater-semanas a.active {
            color: #f5db12;
            cursor: default;
            background: #455060; }
            .schedule-weeks-wrapper .calendar.complete .floater-semanas a.active .label:after, .schedule-weeks-wrapper .calendar.complete .floater-semanas a.active .label:before {
              content: '';
              display: block;
              width: 2px;
              background: #f5db12;
              position: absolute; }
            .schedule-weeks-wrapper .calendar.complete .floater-semanas a.active .label:after {
              right: 0;
              top: 3px;
              height: 8px;
              transform: rotate(45deg); }
            .schedule-weeks-wrapper .calendar.complete .floater-semanas a.active .label:before {
              right: 4px;
              top: 5px;
              height: 6px;
              transform: rotate(135deg); }

@media (max-width: 768px) {
  .schedule-weeks-wrapper .calendar {
    margin: 0 auto; } }
@media (max-width: 640px) {
  .schedule-weeks-wrapper .calendar {
    width: 320px; }
    .schedule-weeks-wrapper .calendar .semana ul li {
      width: 35px;
      margin: 0 3px; }
      .schedule-weeks-wrapper .calendar .semana ul li a strong {
        width: 35px;
        height: 35px; }
    .schedule-weeks-wrapper .calendar .slick-prev {
      background: -moz-linear-gradient(left, #fcfcfc 0%, rgba(252, 252, 252, 0) 100%);
      background: -webkit-linear-gradient(left, #fcfcfc 0%, rgba(252, 252, 252, 0) 100%);
      background: linear-gradient(to right, #fcfcfc 0%, rgba(252, 252, 252, 0) 100%); }
    .schedule-weeks-wrapper .calendar .slick-next {
      background: -moz-linear-gradient(left, rgba(252, 252, 252, 0) 0%, #fcfcfc 100%);
      background: -webkit-linear-gradient(left, rgba(252, 252, 252, 0) 0%, #fcfcfc 100%);
      background: linear-gradient(to right, rgba(252, 252, 252, 0) 0%, #fcfcfc 100%); }
  .schedule-weeks-wrapper .list-results li div {
    display: block;
    width: 100%;
    padding-left: 20px;
    margin-top: 18px; }
    .schedule-weeks-wrapper .list-results li div:first-child {
      margin-top: 0; } }
/*
@media( max-width: 1279px ){
	
	.lista-semanas {
		
		width: 335px;
		
		.semana {
			
			header {
				
				padding: 14px 17px;
				
				.desc-month {
					font-size: 120%;
					line-height: 9px;
				}
				
				.desc-week {
					padding-right: 18px;
					line-height: 9px;
					height: 9px;
					font-size: 120%;
					
					&:after,
					&:before {
						width: 7px;
						top: 4px;
					}
					
					&:before {
						right: 4px;
					}
				}
			}
			
			ul {
				
				padding: 16px 33px 7px;
				
				li {
					
					float: left;
					width: 28px;
					margin: 0 8px;
					
					span {
						margin-bottom: 9px;
						line-height: 9px;
						font-size: 12px;
					}
					
					a {
						line-height: 28px;
						font-size: 12px;
						width: 28px;
						height: 28px;
						&.active {
							width: 32px;
							height: 32px;
							margin: -2px;
							font-size: 18px;
						}
					}

				}
			}
		}
		
		Floater de semanas
		.floater-semanas {
			
			max-height: 342px;
			
			a {
				
				padding: 14px 18px;
				line-height: 9px;
				
				.label {
					height: 9px;
					padding-right: 16px;
					font-size: 120%;
				}
				
				.dates {
					font-size: 120%;
				}
				
				&.active {
					
					.label {
						
						&:after {
							top: 1px;
						}
						
						&:before {
							top: 3px;
						}
					
					}
				}
			}
		}
	}
}
*/

/*# sourceMappingURL=theme.css.map */
