.floresta-hashtag {

	position: relative;
	padding: 167px 0 55px;

	> picture {

		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		&,
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

	}

	.center {
		position: relative;
		z-index: 5;
	}

	h3 {
		max-width: 646px;
		font-weight: 700;
		font-size: 48px;
		line-height: 56px;
		color: #FFFBE2;
	}

	.text-share {

		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 42px;
		margin-top: 81px;
		background: #F6EA63;

		> em {
			font-size: 28px;
			line-height: 33px;
			color: #1A2C31;
			font-style: normal;
		}
	
	}

}

@media( max-width: 1000px ){

	.floresta-hashtag .text-share {

		padding: 20px 22px;

		> em {
			font-size: 22px;
			line-height: 24px;
		}
	}

}

@media( max-width: 768px ){

	.floresta-hashtag {

		padding-bottom: 0;

		h3 {
			padding: 0 41px;
			font-size: 36px;
			line-height: 44px;
		}

		.center {
			padding: 0;
		}

		.text-share {

			padding: 20px 22px;
			margin-top: 41px;

			> em {
				font-size: 22px;
				line-height: 24px;
			}
	
		}
	
	}

}


@media( max-width: 767px ){

	.floresta-hashtag {

		padding-top: 107px;

		h3 {

			display: block;
			width: 100%;
			max-width: 100%;
			font-weight: 600;
			font-size: 23px;
			line-height: 27px;
			text-align: center;
			color: #FFFBE2;

		}

		.text-share {

			flex-direction: column;
			margin-top: 81px;
			background-color: #C7DD8B;

			em {
				text-align: center;
			}

			.pikishare {
				margin-top: 15px;
			}
		
		}

	}

}
