section.form-projeto {

	padding: 48px 0;
	margin-top: 54px;
	background: url('../images/bg-form-projeto.png') no-repeat center center;
	background-size: cover;

	strong.obs {

		display: block;
		margin-top: 26px;
		font-size: 10px;
		line-height: 24px;
		color: #FFFFFF;

		&.mobile {
			display: none;
		}
	
	}

	> div.center {

		max-width: 1297px;
		display: flex;
		justify-content: space-between;

		> header {

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
			max-width: 521px;
			color: #FFFFFF;

			span {
				flex: 1;
			}

			em {
				font-style: normal;
				font-weight: 700;
				font-size: 36px;
				line-height: 42px;
			}

			p {
				margin: 13px 0 0;
				font-size: 16px;
				line-height: 24px;
			}
		
		}

		> div {
			width: 100%;
			max-width: 456px;
		}

		form {

			width: 100%;
			padding: 28px 30px;
			margin: 0 auto;

			.form-save-button {
				margin: 0 0 0 auto;
			}
		
		}
	
	}

}

@media( max-width: 1080px ){

	section.form-projeto {

		> div.center {

			flex-direction: column;

			> header {

				margin-bottom: 24px;

				em {
					font-size: 28px;
					line-height: 32px;
				}

				p {
					font-size: 14px;
					line-height: 20px;
				}
			
			}
		
		}

		strong.obs {

			&.mobile {
				display: block;
			}
			&.desktop {
				display: none;
			}

		}
	
	}

}