/*
.piki-sanfona {

	display: block;
	padding: 40px;
	background-color: $green-900;

	.sanfona-item {

		display: block;
		max-width: 1054px;
		margin: 0 auto;
		border-bottom: $green-400 1px solid;
		background-color: transparent;

		> header {
		
			a {
				display: flex;
				align-items: center;
				padding: 42px 0;
				color: $light-surface;
				text-decoration: none;
				transition: padding-bottom 600ms;
				cursor: pointer;

				&:after {
					content: '';
					display: block;
					width: 24px;
					height: 24px;
					margin: 0 46px 0 28px;
					transition: all 600ms;
					@include background-svg('ico-sanfona');
				}

			}

			h3 {
				width: 384px;
				padding-right: 18px;
				font-size: 52px;
				line-height: 56px;
			}

			em {
				font-size: 14px;
				line-height: 21px;
				font-style: normal;
			}

			em {
				flex: 1;
			}

			&.opened a {

				padding-bottom: 0;

				&:after {
					transform: rotate(180deg);
				}

			}
		
		}

		.item-content {

			padding: 0 0 40px 384px;

			h4 {
				font-size: 24px;
				line-height: 36px;
				color: $green-100;
			}

			.directs {

				display: flex;
				align-items: flex-end;
				margin-top: 32px;

				.box-list {
					width: 55.303030303%;
					margin-right: 28px;
				}

				.is-not-list {
					flex: 1;
				}
			
			}

		}

		&:last-child {
			border-bottom: 0;
		}

	}

}

@media( max-width: 1024px ){

	.piki-sanfona {

		padding: 28px;

		.sanfona-item {

			> header {

				h3 {
					width: 240px;
					font-size: 32px;
					line-height: 36px;
				}

				a:after {
					margin-right: 0;
				}

			}

			.item-content {

				padding-left: 240px;

				h4 {
					font-size: 20px;
					line-height: 29px;
				}

				&.opened {
					padding-top: 20px;
				}
			
			}

		}
	
	}

}

@media( max-width: $media-tablet-max ){

	.piki-sanfona .sanfona-item .item-content {

		display: flex;
	    padding-left: 0;

	    h4 {
	    	width: 240px;
	    }

	    .directs {


	    	flex: 1;
	    	flex-direction: column;
	    	margin-top: 12px;

			.box-list {
			    width: 100%;
			    margin-right: 0;
			}

			.is-not-list {
			    width: 100%;
			    margin-top: 36px;
			}
	    
	    }
	
	}

}

@media( max-width: 640px ){

	.piki-sanfona {

		padding-top: 0;

		.sanfona-item {

			> header a {

				flex-wrap: wrap;
				justify-content: space-between;
				padding: 32px 0;

				h3 {
					order: 1;
				}
				&:after {
					order: 2;
				}
				em {
					order: 3;
					flex-basis: 100%;
					width: 100%;
					margin-top: 12px;
				}

			}

			.item-content {

				flex-direction: column;

				.directs {
				    margin-top: 32px;
				}
			
			}

		}

	}

}
*/
