.piki-gallery {

	display: block;
	position: relative;

	.main-slider-wrapper {
		display: block;
	}
	&.complete .main-slider-wrapper{
		padding: 0 85px;
	}

	.main-slider {

		margin-top: 40px;
		
		figure {
			
			display: block;
			
			img {
				display: block;
				margin: 0 auto;
			}
		
		}
		figcaption {

			display: block;
			padding: 24px 0;
			color: #464646;
			
			strong {
				float: left;
				display: block;
				width: 100%;
				margin-top: 5px;
				margin-right: -80px;
				padding-right: 80px;
				font-weight: normal;
				font-size: 1.6em;
			}	
			
			span {
				float: right;
				display: block;
				width: 80px;
				text-align: right;
				font-size: 2.1em;
				font-weight: bold;
				height: 26px;
				line-height: 26px;
				overflow: hidden;
				letter-spacing: 0.03em;
				-webkit-transition: all 400ms;
			    transition: all 400ms;
			}
		
		}

		.slick-arrow {
			
			display: block;
			width: 54px;
			height: 54px;
			position: absolute;
			top: 50%;
			margin-top: -27px;
			background: white;
			color: white;
			border: 0;
			
			&:after,
			&:before {
				content: '';
				display: block;
				width: 30px;
				height: 7px;
				position: absolute;
				left: 11px;
				background: #d1d1d1;
				-webkit-transition: all 400ms;
			    transition: all 400ms;
			}
			&:before {
				top: 15px;
			}
			&:after {
				bottom: 15px;
			}
		
		}
		.slick-prev:before {
			-ms-transform: rotate(135deg);
		    -webkit-transform: rotate(135deg);
		    transform: rotate(135deg);
		}
		.slick-next:before {
			-ms-transform: rotate(45deg);
		    -webkit-transform: rotate(45deg);
		    transform: rotate(45deg);
		}
		.slick-prev:after {
			-ms-transform: rotate(45deg);
		    -webkit-transform: rotate(45deg);
		    transform: rotate(45deg);
		}
		.slick-next:after {
			-ms-transform: rotate(135deg);
		    -webkit-transform: rotate(135deg);
		    transform: rotate(135deg);
		}
		.slick-prev {
			left: -68px;
		}
		.slick-next {
			right: -68px;
		}
		.slick-arrow:hover:after,
		.slick-arrow:hover:before {
			background: #215297;
		}

	}

	&.simple .main-slider {
		background-color: #eeeeee;
	}

	/* Footer */
	footer {
		display: block;
	}

	&.complete footer {
		padding: 28px 79px;
		background: #e9e9e9;
		border-top: 1px solid #cecece;	
	}
	&.simple footer {
		background: #f8f7f7;
	}

	/* Thumbnails */
	.menu-slider {

		figure {

			position: relative;
			cursor: pointer;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				border: 4px solid #ffe423;
				opacity: 0;
				transition: opacity 400ms;
			}
		
		}

		.slick-current { 
			cursor: default;
			&:after {
				opacity: 1;
			}
		}

	}

	/* Ver todas */
	.mosaic {

		display: block;
		width: 100%;
		background: #e9e9e9;
		z-index: 200;
		overflow: hidden;
		display: none;
		padding: 29px 74px;
		
		figure {
		
			float: left;
			padding: 7px;
			
			img {

				display: block;
				width: auto;
				height: 64px;
				cursor: pointer;
				border: 4px solid transparent;
				-webkit-transition: all 400ms;
			    transition: all 400ms;
				
				&:hover {
					border-color: #bfbcbc;
				}
				
				&.current {
					border-color: #407ace;
					cursor: default;
				}
			
			}
		
		}
	
	}

	.see-all button,
	.mosaic button {
		float: right;
		display: block;
		height: 39px;
		padding: 12px 20px;
		color: #fff;
		line-height: 16px;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: bold;
		border: 0;
		background: #215297;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.see-all {
	
		display: block;
		margin: 16px 6px 0 0;
		
		button {
			width: 199px;
		}

		.icon {

			position: relative;
			float: left;
			width: 16px;
			height: 16px;
			margin-right: 8px;
			background: #fff;
			
			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 16px;
				height: 2px;
				background: #215297;
			}
			&:before {
				left: 0;
				top: 7px;
			}
			&:after {
				top: 7px;
				ms-transform: rotate(90deg);
			    -webkit-transform: rotate(90deg);
			    transform: rotate(90deg);
			}
		
		}
	
	}

}

@media ( max-width: 850px ){
	.imagewp-slick-theme .mosaic figure {
		width: 25%;
	}
}
@media ( max-width: 640px ){

	.imagewp-slick-theme {

		.main-slider-wrapper {
			padding: 0;
			background: #fff;
		}
		.main-slider {

			margin-top: 0;
			
			figure img {
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;	
			}
			figcaption {
				padding: 14px 14px 30px;
				text-align: center;
			}
			figcaption strong,
			figcaption span {
				float: none;
				margin-right: 0;
				padding-right: 0;
				width: auto;
				text-align: center;
			}
			figcaption span {
				margin-top: 10px;
			}
		
		}

		.menu-slider-wrapper {
			padding: 28px 33px;
		}

		footer {
			padding: 28px 28px;
		}

		.see-all,
		.mosaic {
			button {
				float: none;
				margin: 0 auto;
			}
		}

		.mosaic {
		
			padding-left: 25px;
			padding-right: 25px;
			
			figure {
				width: 50%;
				padding: 6px;
			}
		
		}

		.see-all {
			margin: 19px auto 0;
		}

		.mosaic button {
			margin-top: 13px;
		}

		/* Pager */
		.mosaic-grid .slick-dots {
			display: table !important;
			list-style: none;
			padding: 0;
			margin: 10px auto 12px;
		}
		.mosaic-grid .slick-dots li {
			float: left;
			margin: 0 3px;
		}
		.mosaic-grid .slick-dots a {
			display: block;
			width: 10px;
			height: 10px;
			background: #898989;
			overflow: hidden;
			text-indent: -100px;
			-webkit-border-radius: 51%;
			-moz-border-radius: 51%;
			border-radius: 51%;
		}
		.mosaic-grid .slick-dots li.slick-active a {
			background: #407ace;
		}

	}

}